
@{
    ViewBag.Title = "AssignmentJ2";
}

<h2>J2 : Epidemiology</h2>


<form method="post" action="Result2">
    <div>
        <label>Enter number of People will get infected:</label><input type="text" name="P" />
    </div>
    <div>
        <label>Next day infected number of People:</label><input type="text"  name="N" />
    </div>
    <div>
        <label>Spread Rate:</label><input type="text"  name="R" />
    </div>
    <div>
        <input type="submit" value="DayCount" />
    </div>


</form>