
@{
    ViewBag.Title = "Assignment";
}

<h2>assignment 2</h2>
<h3>J1 Dog Treat</h3>
<form method="post" action="Result">
    <div>
        <label>Small Treat:</label><input type="number" min="0"  name="SmallTreat" />
    </div>
    <div>
        <label>Medium Treat:</label><input type="number" min="0" name="MediumTreat" />
    </div>
    <div>
        <label>Large Treat:</label><input type="number" min="0" name="LargeTreat" />
    </div>
    <div>
        <input type="submit" value="Score" />
    </div>


</form>


